body {
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #fff;
}
.form-signin {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

form .line{
  margin-bottom: 10px;
}
.grid-view tbody td{
  vertical-align: middle;
}
.grid-view tbody tr{
  background-color: #eff;
}
.grid-view tbody .sort{
  cursor: move;
}
.row-fluid .handler{
  padding: 3px 5px;
  cursor: move;
  display: block;
  color: #fff;
  border: 1px solid #ccc;
  background-color: #0088cc;
}

.row-fluid .block{
  border: 1px dashed #ccc;
  padding: 3px;
  background-color: #fff;
}
.delete_block {
  cursor: pointer;
}

.grid-view .table .filters > td .filter-container select {
	margin-bottom: 0;
	width: 100%;
}

.ui-timepicker-div select {
	width: 100%;
}
.ui-timepicker-div dl dd {
	margin: 0 10px 10px 80px !important;
}