body {
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #fff;
}

.well.sidebar {
    padding: 8px 0;
}

.form-signin {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

form .line{
  margin-bottom: 10px;
}
.grid-view tbody td{
  vertical-align: middle;
}
.grid-view tbody tr{
  background-color: #eff;
}
.grid-view tbody .sort{
  cursor: move;
}
.row-fluid .handler{
  padding: 3px 5px;
  cursor: move;
  display: block;
  color: #fff;
  border: 1px solid #ccc;
  background-color: #0088cc;
}

.row-fluid .block{
  border: 1px dashed #ccc;
  padding: 3px;
  background-color: #fff;
}
.delete_block {
  cursor: pointer;
}

.grid-view .table .filters > td .filter-container select {
	margin-bottom: 0;
	width: 100%;
}

.ui-timepicker-div select {
	width: 100%;
}
.ui-timepicker-div dl dd {
	margin: 0 10px 10px 80px !important;
}

.control-group .img_preview {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
}
.control-group .img_preview img {
    display: inline-block;
    vertical-align: top;
}
.control-group .img_preview .deletePhoto {
    display: inline-block;
    vertical-align: top;
}

a.expand-button {
    position: relative;
    left: -16px;
    margin-right: -14px; }
.context-menu{
    width: 20px;
}
span.offset {
    display: inline-block;
    width: 30px;
}
#structure-grid {
    font-size: 0.9em;
    padding-left: 30px;
    margin-bottom: 50px;
}
#structure-grid ul {
    margin: 0;
    padding: 0;
    list-style: none; }
#structure-grid ul.root {
    display: table;
    width: 100%;
    min-width: 600px; }
#structure-grid ul .row {
    width: 100%;
    background-color: #eeffff;
    border-top: 1px solid #dddddd; }
#structure-grid ul .row:hover {
    background-color: whitesmoke; }
#structure-grid ul .row.head {
    background-color: white;
    border-top: none; }
#structure-grid ul .row.head:hover {
    background-color: white; }
#structure-grid ul .row .cell {
    float: left;
    vertical-align: middle;
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: top; }
#structure-grid .cell.check {
    width: 20px; }
#structure-grid .cell.menu {
    width: 40px; }
#structure-grid .cell.name {
    width: 40%; }
#structure-grid .cell.link {
    width: 30%; }
#structure-grid .cell.type {
    width: 200px; }

@media (max-width: 980px) and (min-width: 768px) {
    body {
        padding-top: 0;
    }
}

@media (max-width: 767px) {
    body {
        padding-top: 0;
    }
}

@media (max-width: 480px) {
    body {
        padding-top: 0;
    }
}